/* * {
  border: 1px solid red;
} */

/* nav bar styles */
header {
  display: flex;
  justify-content: space-between;
  background-color: #64755F;
  height: 4rem;
  padding: 1% 4% 0 4%;
}

header a {
  margin-right: 2rem;
  text-decoration: none;
  color: #FFF8E1;
}

header a:hover{
  color:#354131;
}

.watermyplants a {
  font-weight: bold;
  font-size: 1.2rem;
}

#register-btn, #myplants-btn, #profile-btn, #logout-btn {
  color: #FFF8E1;
  background-color: #354131;
  border: none;
}

/* home styles */
.home-container {
  background-image: url('./Assets/homebg.jpg');
  background-position: 70% 30% 15%;
  background-size: 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 94vh;
  width: 100%;
  margin-bottom: 4rem;
}

.home-button Button {
  padding: 1.5%;
  background-color:#354131;
  color:#FFF8E1;
  border: 1px solid #354131;
}

.home-text, .home-details, .home-button {
  width: 33%;
  margin: 0 auto;
  color: #354131;
}

.home-button {
  text-align: center;
}

.home-text h1{
  font-size: 6rem;
}


/* form styles */
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 33%;
}

.formGroup {
  margin-top: 2%;
}

.form-title h1{
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 15%;
  color: #354131;
}

.form-spacing {
  margin-bottom: 2%;
}

.reroute {
  margin-left: 20%;
  color:#8a8a8a;
}

input, label {
  display:block;
}

input {
  width: 500px;
}

.submit Button {
  margin: 1% 0 1% 0;
  width: 500px;
  background-color: #354131;
  border:none;
}

/* PlantItem styles */
.plant-item-container {
  width:27%;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
}
.plant-item-img {
  width: 100%;
}
.plant-item-info {
  display: flex;
  padding: 2% 5% 2% 1%;
  /* width: 80%; */
  justify-content: space-between;
}

.plant-labels h4 {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.edit, .remove{
  margin: 3%;
}

.plant-item-img img {
  object-fit: cover;
  width:20rem;
  height:20rem;
}


/* Myplant styles */
.top-container {
  display:flex;
  justify-content: center;
  padding: 2%;
  background-color: #FFF8E1;
  color: #354131;
}

.plant-label {
  margin: 5%;
}

.bottom-container {
  display:flex;
  justify-content: center;
  padding: 3%;
  color: #354131;
}

.care-info {
  margin-right: 10%;
}

.care-info h2 {
  text-align: center;
}

.edit-buttons {
  display:flex;
  flex-direction: column;
  margin-left: 5%;
}

.edit-buttons Button {
  margin-bottom: 2rem;
  background-color: #354131;
}

/* footer styles */
footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  height: 4rem;
  background-color: #64755F;
  padding: 1% 4% 0 4%;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer a {
  margin-right: 2rem;
  text-decoration: none;
  color: #FFF8E1;
}
