* {
  /* border: 1px solid red; */
}

/* nav bar styles */
header {
  display: flex;
  justify-content: space-between;
  background-color: #64755F;
  height: 4rem;
  padding: 1% 4% 0 4%;
}

header a {
  margin-right: 2rem;
  text-decoration: none;
  color: #FFF8E1;
}

header a:hover{
  color:#354131;
}

.watermyplants a {
  font-weight: bold;
  /* color: #FFF8E1; */
  font-size: 1.2rem;
}

.nav-links Button {
  background-color:#354131;
  border: none;
}


/* footer styles */
footer {
  border-top: 1px solid black;
  margin: 5% 5% 0 5%;
}

footer p {
  margin-top: 1%;
}


/* form styles */
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto;
  margin-top: 8%;
  margin-bottom: 18%;
  width: 33%;
}

.formGroup {
  margin-top: 2%;
}

.form-title h1{
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 15%;
  color: #354131;
}

.form-spacing {
  margin-bottom: 2%;
}

.reroute {
  margin-left: 20%;
  color:#8a8a8a;
}

input, label {
  display:block;
}

input {
  width: 500px;
}

.submit Button {
  margin: 1% 0 1% 0;
  width: 500px;
  background-color: #354131;
  border:none;
}



